@charset "UTF-8";
/***Couleurs***/
/** width mobile **/
/*** Responsive ***/
/**** shadow ****/
/**** Gradient ****/
* {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.intro__btngradient {
  width: 218px;
  height: 50px;
  color: white;
  font-size: 1rem;
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 25px;
  border: none;
  font-weight: bold;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 27px 75px 57px 82px;
  transition: opacity 300ms ease-in-out;
}
.intro__btngradient:hover {
  opacity: 0.88;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.intro__btngradient--long {
  width: 50%;
  min-width: 150px;
  max-width: 250px;
}

.menu__btngradient {
  background: linear-gradient(#9356DC, #FF79DA);
  border: none;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 1.125rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out; /* Animation de transition */
}

.menu__btngradient:hover {
  opacity: 0.88;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.button__like {
  flex-shrink: 0;
  position: relative;
  font-size: 25px;
  border: none;
  background: transparent;
}

.button__like--menu {
  flex-shrink: 0;
  position: relative;
  font-size: 25px;
  border: none;
  background: transparent;
}

.fa-heart {
  padding-right: 0.5rem;
  padding-top: 5px;
}

.fa-regular:hover {
  color: transparent;
  transform: scale(0);
}

.fa-solid {
  position: absolute;
  transform: translateX(-100%);
  color: #ca68db;
  opacity: 0;
}

.fa-solid:hover {
  opacity: 100;
  transition: opacity 0.3s;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeOut 3s ease-in-out forwards;
}

.wheel {
  display: flex;
  width: 100px;
  height: 100px;
  border: 5px solid blue;
  border-radius: 50%;
  border-top: 5px solid transparent;
  animation: rotate 2s linear infinite;
  position: absolute;
  transform: translate(-50%, -50%);
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  background: var(--White, #fff);
  margin-top: 15px;
}
.header__container {
  display: flex;
  align-items: center;
  width: 90%;
  padding-bottom: 5px;
}
.header__logo {
  display: flex;
  width: 100%;
  height: 36px;
  padding: 0px 19px 0px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 27px;
  font-family: "shrikhand", cursive;
}
.header__back {
  position: relative;
  font-size: 1.2rem;
}
.header .logo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__container {
    width: 85%;
    padding-left: 25px;
  }
  .header__logo {
    padding: 0px 30px 0px 16px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 22px 25px;
  background-color: var(--Grey, #353535);
}
.footer p {
  margin: 5px 0;
  color: white;
}
.footer__logo {
  margin: 0 0 16px 0;
  font-size: 27px;
  font-family: "shrikhand", cursive;
  font-size: 1.125rem;
  color: white;
}
.footer__bloc {
  display: flex;
  flex-direction: column;
}
.footer__nav {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.footer__nav--icons {
  font-size: 0.813rem;
  color: white;
  width: 5%;
  padding-right: 25px;
}
.footer__nav--info {
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer__content .footer__nav-container,
  .footer .footer__content .footer__info-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer .footer__content .footer__logo {
    display: flex;
    flex-direction: row-reverse;
    order: 2;
    justify-content: center;
    margin-bottom: 0px;
  }
  .footer .footer__content .footer__nav--icons {
    font-size: 0.813rem;
  }
  .footer .footer__content .footer__nav {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__content .footer__logo {
    margin-bottom: 0;
    order: 2;
    justify-content: center;
  }
  .footer__content .footer__nav-container,
  .footer__content .footer__info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }
  .footer__content .footer__nav--icons {
    font-size: 0.813rem;
  }
}
.fa-solid.fa-location-dot {
  color: black;
  opacity: 1; /* Rend l'icône visible sans opacité initiale */
  transform: none; /* Supprime la translation initiale */
  position: relative;
}

/* Location Information */
.info__location {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: var(--Grey-2, #EAEAEA);
  gap: 17px;
  box-shadow: 0px 2px 4px 0px black;
}
.info__location__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info__location .location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: lightgrey;
  box-shadow: 0px 2px 4px 0px black;
}

/* Intro Section */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
  background-color: #f6f6f6;
  text-align: center;
}
.intro__title {
  width: 70%;
  margin: 10px 0;
}
.intro p {
  width: 85%;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
}

/* Fonctionnement Section */
.fonction {
  width: 100%;
  margin: auto;
  padding: 20px 0;
}
.fonction__title {
  padding-top: 15px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
}
.fonction__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  align-items: center;
}

.fonction__etape {
  width: 90%;
  display: flex;
  align-items: center;
  height: 72px;
  margin: 15px 0;
  border-radius: 20px;
  border: none;
  gap: 22.71px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonction__etape:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonction__etape--number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  padding: 1%;
  margin-left: -12px;
}
.fonction__etape--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 25px;
  color: #7E7E7E;
}
.fonction__etape--sub {
  width: 211px;
  height: 15px;
  font-weight: 600;
}

.fa-store {
  color: #9356DC;
}

/* Restaurants Section */
.restaurant {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0 66px 0;
  background-color: var(--Background, #f6f6f6);
}
.restaurant__title {
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
  background-color: var(--Background, #f6f6f6);
}
.restaurant__container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant__cards {
  display: flex;
  flex-direction: column;
  height: 251px;
  margin-bottom: 18px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin: 20px;
}
.restaurant__cards:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.restaurant__cards--image {
  position: relative;
  overflow: hidden;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__cards--image img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__cards--image--markernew {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
}
.restaurant__cards--info {
  display: flex;
  align-items: flex-start;
  height: auto;
  min-height: 75px;
  padding: 15px;
}
.restaurant__cards--info--txt {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.restaurant__cards--info h4,
.restaurant__cards--info p {
  margin: 0;
}
.restaurant__cards--info h4 {
  width: 267px;
  height: 20px;
  margin-bottom: 5px;
  font-size: 1.125rem;
}
.restaurant__cards--info p {
  height: 24px;
  font-weight: 300;
  font-size: 1.063rem;
}
.restaurant__cards--like {
  align-self: flex-end;
  font-size: 1.563rem;
  position: absolute;
  padding-top: 200px;
}

.restaurant__content {
  display: flex;
  justify-content: flex-start;
}

/* Media Query pour les écrans de tablette (768px à 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Section Fonctionnement */
  .fonction {
    display: flex;
    flex-direction: column;
    width: 50vh;
    margin-top: 30px;
  }
  .fonction .fonction__list {
    display: flex;
    flex-direction: column;
  }
  .fonction .fonction__list .fonction__etape {
    justify-content: flex-start;
    width: 80vh;
    white-space: nowrap;
  }
  .fonction .fonction__list .fonction__etape .fonction__etape--number {
    font-size: 1rem;
  }
  .fonction .fonction__list .fonction__etape .fonction__etape--icon {
    font-size: 1rem;
  }
  .fonction .fonction__list .fonction__etape .fonction__etape--sub {
    text-align: center;
    width: 0;
    height: auto;
    font-size: 1.2rem;
  }
  /* Section Restaurants */
  .restaurant {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px 0 66px 0;
  }
  .restaurant__title {
    padding-left: 10px;
  }
  .restaurant__cards {
    height: 28vh;
    width: 85vh;
    align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  /* Section Fonctionnement */
  .fonction {
    display: flex;
    flex-direction: row;
    width: 94%;
    margin-top: 0; /* Supprimez la marge supérieure pour la section Fonctionnement */
    gap: 31px;
  }
  .fonction__title {
    padding-left: 20px;
  }
  .fonction__list {
    width: 95%;
    margin: auto;
  }
  /* Section Restaurants */
  .restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
    justify-content: space-between;
    margin: auto;
    padding: 20px 20px 20px 20px;
    grid-row-gap: 20px;
  }
  .restaurant__cards {
    height: 28vh;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    width: 80%;
    margin: auto;
  }
  .restaurant__cards:hover {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
}
.fa-solid.fa-arrow-left {
  color: black;
  opacity: 1; /* Rend l'icône visible sans opacité initiale */
  transform: none; /* Supprime la translation initiale */
  position: relative;
}

.menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 37px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  margin-top: -70px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
}
.menu__info {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.menu__banniere {
  max-width: 100%;
}
.menu__title {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Shrikhand", sans-serif;
  margin-left: 10px;
}
.menu__subtitle {
  display: flex;
  width: 100%;
  height: 27px;
  flex-direction: column;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-color: #99e2d0;
  text-underline-offset: 5px;
}

.plats__list {
  width: 100%;
}

.menu__plats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.menu__plats .plat {
  display: flex;
  height: 67px;
  background-color: white;
  border: none;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
.menu__plats .plat__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
  overflow: hidden;
  line-height: 2;
}
.menu__plats .plat__title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plats .plat__compo {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plats .plat__prix {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100px;
  background-color: white;
  color: #000;
  padding-bottom: 8px;
}
.menu__plats .plat__confirm {
  min-width: 68px;
  height: 68px;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -70px;
  border-radius: 0 15px 15px 0;
}
.menu__plats .plat__confirm__check {
  font-size: 1.4rem;
  position: relative;
  transform: translate(0);
  opacity: 1;
  color: white;
  transition: translate 300ms ease-in-out;
}
.menu__plats .plat:hover .plat__confirm {
  margin-right: 0;
  transition: 0.3s;
}

.menu__order {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
.menu__order .menu__btngradient {
  background: linear-gradient(to right, #9356DC, #FF79DA);
  border: none;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 1.125rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  /* Tablet Styles */
  .menu {
    margin-top: -50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .menu__banniere {
    width: 100%;
    height: 315px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__info {
    width: 55%;
  }
  .menu__subtitle {
    font-size: 1.125rem;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 1024px) {
  /* Desktop Styles */
  .menu {
    margin-top: -40px;
    width: 80%;
  }
  .menu__info {
    width: 50%;
  }
  .menu__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__banniere {
    max-width: 100%;
  }
  .menu__plats {
    width: 60%;
  }
  .menu__subtitle {
    font-size: 1.25rem;
    margin-top: 25px;
    margin-bottom: 15px;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu__plats .plat {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu__plats .plat:nth-child(1) {
  animation: appear 1s ease 0.5s forwards;
}

.menu__plats .plat:nth-child(2) {
  animation: appear 1s ease 1s forwards;
}

.menu__plats .plat:nth-child(3) {
  animation: appear 1s ease 1.5s forwards;
}

.menu__plats .plat:nth-child(4) {
  animation: appear 1s ease 2s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */