.intro__btngradient {
    width:  218px;
    height: 50px;
    color: white;
    font-size: 1rem;
    @include gradient;
    border-radius: 25px;
    border: none;
    font-weight: medium;
    @include object-shadow;
    cursor: pointer;
    margin: 27px 75px 57px 82px;
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 0.88;
        @include object-shadow
    }

    &--long {
        width: 50%;
        min-width: 150px;
        max-width: 250px;
    }
}

.menu__btngradient{
  color: white;
  font-size: 1rem;
  @include gradient;
  border-radius: 25px;
  border: none;
  font-weight: medium;
  @include object-shadow;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}


.button__like {
    flex-shrink: 0;
    position: relative;
    font-size: 25px;
    border: none;
    background: transparent;
  
  }


  .button__like--menu{
    flex-shrink: 0;
    position: relative;
    font-size: 25px;
    border: none;
    background: transparent;
  }
  
  .fa-heart {
    padding-right: 0.5rem;
    padding-top: 5px;
  }
  
  .fa-regular:hover {
    color: transparent;
    transform: scale(0);
  }
  
  .fa-solid {
    position: absolute;
    transform: translateX(-100%);
    color: $color-primary;
    opacity: 0;
  }
  
  .fa-solid:hover {
    opacity: 100;
    transition: opacity 0.3s;
  }