.intro__btngradient {
    width:  218px;
    height: 50px;
    color: white;
    font-size: 1rem;
    @include gradient;
    border-radius: 25px;
    border: none;
    font-weight: medium;
    @include object-shadow;
    cursor: pointer;
    margin: 27px 75px 57px 82px;
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 0.88;
        @include object-shadow
    }

    &--long {
        width: 50%;
        min-width: 150px;
        max-width: 250px;
    }
}


.button__like {
    width: 28px;
    height: 28px;
    position: relative;
    font-size: 25px;
    cursor: pointer;
    background: linear-gradient(to right, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border: none;
    padding: 0;
    transition: background-position 0.4s ease;
  }
  

  .button__like {
    cursor: pointer;
  }
  
  .button__like i.fas.fa-heart {
    font-size: 25px;
    color: $color-primary; /* Couleur du cœur non rempli par défaut */
    transition: color 0.4s ease; /* Transition de la couleur du texte */
  }
  
  .button__like:hover i.fas.fa-heart,
  .button__like:active i.fas.fa-heart {
    color: $color-secondary; /* Couleur de remplissage du cœur au survol et au clic */
  }
  
  
  