/// Location ///

.fa-solid.fa-location-dot {
  color: black;
  opacity: 1; /* Rend l'icône visible sans opacité initiale */
  transform: none; /* Supprime la translation initiale */
  position:relative;
}


/* Location Information */
.info__location {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: var(--Grey-2, #EAEAEA);
  gap: 17px;
  box-shadow: 0px 2px 4px 0px black;

  &__icon {
    display: flex;
    flex-direction: center;
    align-items: center;
  }

  .location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: lightgrey;
    box-shadow: 0px 2px 4px 0px black;
  }
}

/* Intro Section */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
  background-color: #f6f6f6;
  text-align: center;

  &__title {
    width: 70%;
    margin: 10px 0;
  }

  & p {
    width: 85%;
    margin: 0;
    font-size: 1.125rem;
    font-weight: light;
  }
}

/* Fonctionnement Section */
.fonction {
  width: 100%;
  margin: auto;
  padding: 20px 0;

  &__title {
    padding-top: 15px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    align-items: center;

  }
}

.fonction__etape {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 15px 0;
  border-radius: 20px;
  border: none;
  gap: 22.71px;
  background-color: #f6f6f6;
  @include object-shadow;


  &:hover {
    @include object-shadow;

    &fonction__etape--icon {
      color: $color-primary;
    }
  }

  &--number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 24px;
    width: 24px;
    @include circle;
    color: white;
    background-color: $color-primary;
    padding: 1%;
  }

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 25px;
    color: $icon;
  }

  &--sub {
    width: 211px;
    height: 15px;
    font-weight: 600; 
  }
}
.fa-store{
  color: $color-primary;
}

/* Restaurants Section */
.restaurant {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0 66px 0;
  background-color: var(--Background, #f6f6f6);

  &__title {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
  }

  &__container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.restaurant__cards {
  display: flex;
  flex-direction: column;
  height: 29vh;
  margin-bottom: 18px;
  border-radius: 15px;
  background-color: white;
  @include object-shadow;

  &:hover {
    @include object-shadow;
  }

  &--image {
    position: relative;
    overflow: hidden;
    height: 175px;
    border-radius: 15px 15px 0px 0px;

    & img {
      width: 100%;
      height: 175px;
      object-fit: cover;
    }

    &--markernew {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 15px;
      top: 12px;
      width: 80px;
      height: 30px;
      border-radius: 2px;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 40%);
      font-weight: bold;
    }
  }

  &--info {
    display: flex;
    align-items: flex-start;
    height: auto;
    min-height: 75px;
    padding: 15px;

    &--txt {
      width: 90%;
      display:flex; 
      flex-direction: column;
    }

    & h4,
    p {
      margin: 0;
    }

    & h4 {
      width: 267px;
      height: 20px;
      margin-bottom: 5px;
      font-size: 1.125rem;
    }

    & p {
      height: 24px;
      font-weight: 300;
      font-size: 1.063rem;
    }
  }

  &--like {
    align-self: flex-end;
    font-size: 1.563rem;
    position: absolute;
    padding-top: 200px;
  }
}

.restaurant__content {
  display: flex;
  justify-content: flex-start;
}



/* Media Query pour les écrans de tablette (768px à 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Section Fonctionnement */
  .fonction {
    display: flex;
    flex-direction: column;
    width: 50vh;
    margin-top: 30px; 

    .fonction__list {
      display: flex;
      flex-direction: column;

      .fonction__etape {
        justify-content: flex-start;
        width: 80vh;
        white-space: nowrap;

        .fonction__etape--number {
          font-size: 1rem; 
        }

        .fonction__etape--icon {
          font-size: 1rem; 
        }

        .fonction__etape--sub {
          text-align: center;
          width: 0;
          height: auto;
          font-size: 1.2rem;
        }
      }
    }
  }

  /* Section Restaurants */
  .restaurant {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px 0 66px 0; 
    
    &__title {
      padding-left: 10px; 
    }
  }
  
  .restaurant__cards {
    height: 28vh; 
    width: 73vh;
    align-self: center;
  }
}

@media screen and (min-width: 1024px) {
/* Section Fonctionnement */
.fonction {
  display: flex;
  flex-direction: row;
  width: 100%; 
  margin-top: 0; /* Supprimez la marge supérieure pour la section Fonctionnement */
  gap: 25px;
}

.fonction__title {
  padding-left: 20px;
}

.fonction__list {
  width: 95%;
  margin: auto;
}

}

/* Section Restaurants */
.restaurant {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
  gap: 20px; 
  justify-content: space-between; 
  margin: auto;
  padding: 20px 0 66px 0; 
}

.restaurant__cards {
  height: 29vh; 
  border-radius: 15px;
  background-color: white;
  @include object-shadow;

  &:hover {
    @include object-shadow;
  }

}
