/**** Responsive ****/
@mixin circle {
    border-radius:  50%;
}


@mixin table__responsive{
    @media screen and (min-width: $breakpointstab) {
        @content;
    }
}

@mixin desktop__responsive {
    @media screen and (max-width: $breakpointsdesktop) {
        @content; 
    }
}

/**** shadow ****/

@mixin object-shadow ($color: $shadow) {
    box-shadow: 0 4px 10px 0 $color;
}

/**** Gradient ****/

@mixin gradient ($orientation: $degree) {
    background: linear-gradient($degree, $color-primary, $color-secondary); 
        @content;
    }
