
@mixin circle {
    border-radius:  50%;
}


/**** shadow ****/

@mixin object-shadow  {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

/**** Gradient ****/

@mixin gradient  {
    background: linear-gradient( $color-primary, $color-secondary); 
        @content;
    }

    @mixin color{
        color: linear-gradient( $color-primary,$color-secondary);
        @content
    }
