/***Couleurs***/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$icon: #7E7E7E;


/** width mobile **/ 

$whidthmobile: 90%;

/*** Responsive ***/ 

$breakpointstab: 768px;
$breakpointsdesktop: 1024px;