.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 22px 25px;
  background-color: var(--Grey, #353535);

  /*@include table__responsive {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
  }*/

  & p {
    margin: 5px 0;
    color: white;
  }

  &__logo {
    margin: 0 0 16px 0;
    @include cursive__logo;
    font-size: 1.125rem;
    color: white;

    /*@include desktop__responsive {
      width: 137px;
      margin: 0;
    }*/
  }
  &__bloc {
  display: flex;
  flex-direction: column;

 /* @include table__responsive {
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }*/
}

&__nav {
  display: flex;
  align-items: center;
  font-weight: medium;
  

 /* @include table__responsive {
    width: 100%;
  }*/
  &--icons {
    display: flex;
    flex-direction: flex-start;
    font-size: 0.813rem;
    color: white;
    width: 5%;
  }
  &--info {
    color: white;
    /*@include table__responsive {
      & p {
        width: 100%;
        justify-content: flex-start;
        color: white;
      }*/
    }
  }
}

