@charset "UTF-8";
/***Couleurs***/
/** width mobile **/
/*** Responsive ***/
/**** Responsive ****/
/**** shadow ****/
/**** Gradient ****/
* {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.intro__btngradient {
  width: 218px;
  height: 50px;
  color: white;
  font-size: 1rem;
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 25px;
  border: none;
  font-weight: medium;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 27px 75px 57px 82px;
  transition: opacity 300ms ease-in-out;
}
.intro__btngradient:hover {
  opacity: 0.88;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.intro__btngradient--long {
  width: 50%;
  min-width: 150px;
  max-width: 250px;
}

.button__like {
  width: 28px;
  height: 28px;
  position: relative;
  font-size: 25px;
  cursor: pointer;
  background: linear-gradient(to right, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border: none;
  padding: 0;
  transition: background-position 0.4s ease;
}

.button__like {
  cursor: pointer;
}

.button__like i.fas.fa-heart {
  font-size: 25px;
  color: #9356DC; /* Couleur du cœur non rempli par défaut */
  transition: color 0.4s ease; /* Transition de la couleur du texte */
}

.button__like:hover i.fas.fa-heart,
.button__like:active i.fas.fa-heart {
  color: #FF79DA; /* Couleur de remplissage du cœur au survol et au clic */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeOut 2s ease-in-out forwards;
}

.wheel {
  width: 100px;
  height: 100px;
  border: 5px solid blue;
  border-radius: 50%;
  border-top: 5px solid transparent;
  animation: rotate 2s linear infinite;
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.body {
  width: 100%;
  margin: auto;
}

.header {
  padding: 2%;
}
.header__logo {
  margin: 0;
  text-align: center;
  font-size: 27px;
  font-family: "shrikhand", cursive;
}
.header__return {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5%;
  width: 20px;
  height: 20px;
  top: 35%;
  font-size: 1.25rem;
}
@media screen and (max-width: 1024px) {
  .header__return {
    font-size: 2rem;
  }
}

.footer {
  width: 100%;
  padding: 22px 25px;
  background-color: var(--Grey, #353535);
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
  }
}
.footer p {
  margin: 5px 0;
  color: white;
}
.footer__logo {
  margin: 0 0 16px 0;
  font-size: 27px;
  font-family: "shrikhand", cursive;
  font-size: 1.125rem;
  color: white;
}
@media screen and (max-width: 1024px) {
  .footer__logo {
    width: 137px;
    margin: 0;
  }
}
.footer__bloc {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__bloc {
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }
}
.footer__nav {
  display: flex;
  align-items: center;
  font-weight: medium;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    width: 100%;
  }
}
.footer__nav--icons {
  display: flex;
  flex-direction: flex-start;
  font-size: 0.813rem;
  color: white;
  width: 5%;
}
.footer__nav--info {
  color: white;
}
@media screen and (min-width: 768px) {
  .footer__nav--info p {
    width: 100%;
    justify-content: flex-start;
    color: white;
  }
}

.info__location {
  display: flex;
  flex-direction: center;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: var(--Grey-2, #EAEAEA);
  gap: 17px;
}

.info__icon {
  display: flex;
  flex-direction: center;
  align-items: center;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgrey;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
  background-color: #f6f6f6;
  text-align: center;
}
.intro__title {
  width: 70%;
  margin: 10px 0;
}
.intro p {
  width: 85%;
  margin: 0;
  font-size: 1.125rem;
  font-weight: light;
}

.fonction {
  width: 100%;
  margin: auto;
  padding: 50px 0;
}
.fonction__title {
  width: 275px;
  height: 31px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
}
.fonction__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  padding-bottom: 10px;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .fonction__list {
    width: 90%;
    flex-direction: row;
    justify-content: center;
  }
}

.fonction__etape {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 15px 0;
  border-radius: 20px;
  border: none;
  gap: 22.71px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1024px) {
  .fonction__etape {
    width: 100%;
    flex-wrap: wrap;
  }
}
.fonction__etape:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonction__etape:hoverfonction__etape--icon {
  color: #9356DC;
}
.fonction__etape--number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  padding: 1%;
}
.fonction__etape--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 25px;
  color: #7E7E7E;
}
.fonction__etape--sub {
  width: 211px;
  height: 15px;
  font-weight: 600;
}

.restaurant {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0 66px 0;
  background-color: var(--Background, #f6f6f6);
}
.restaurant__title {
  width: 275px;
  height: 68px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
}
.restaurant__container {
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .restaurant__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.restaurant__cards {
  display: flex;
  flex-direction: column;
  height: 251px;
  margin-bottom: 18px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .restaurant__cards {
    width: 100%;
    margin: 0;
    margin-bottom: 4%;
  }
}
.restaurant__cards:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.restaurant__cards--image {
  position: relative;
  overflow: hidden;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__cards--image img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__cards--image--markernew {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: medium;
}
.restaurant__cards--info {
  display: flex;
  align-items: flex-start;
  height: auto;
  min-height: 75px;
  padding: 15px;
}
.restaurant__cards--info--txt {
  width: 90%;
}
.restaurant__cards--info h4,
.restaurant__cards--info p {
  margin: 0;
}
.restaurant__cards--info h4 {
  width: 267px;
  height: 20px;
  margin-bottom: 5px;
  font-size: 1.125rem;
}
.restaurant__cards--info p {
  height: 24px;
  font-weight: 300;
  font-size: 1.063rem;
}
.restaurant__cards--like {
  display: flex;
  align-self: flex-end;
  right: 7%;
  top: 200%;
  font-size: 1.563rem;
}

.menu {
  background-color: #f6f6f6;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu__banniere {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu-subtitle {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.plat {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 20px;
}
.plat .plat__info {
  margin-bottom: 5px;
}
.plat .plat__info .plat__title {
  font-size: 18px;
  font-weight: bold;
}
.plat .plat__info .plat__compo {
  font-size: 14px;
}
.plat .plat__prix {
  font-size: 18px;
  font-weight: bold;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  align-self: end;
  padding-bottom: 5%;
}
.plat .plat__confirm {
  color: #FF79DA;
  font-size: 20px;
  width: 10%;
  align-self: center;
}

.menu__order {
  text-align: center;
  margin-top: 20px;
}
.menu__order .intro__btngradient {
  background: linear-gradient(to right, #9356DC, #FF79DA);
  border: none;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */