

.menu {
  background-color: #f6f6f6;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu__banniere {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}

.menu__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu-subtitle {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.plat {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 20px;
  .plat__info {
    margin-bottom: 5px;
    .plat__title {
      font-size: 18px;
      font-weight: bold;
    }
    .plat__compo {
      font-size: 14px;
      
    }
  }
  .plat__prix {
    font-size: 18px;
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    align-self: end;
    padding-bottom: 5%;
  }
  .plat__confirm {
    color: $color-secondary;
    font-size: 20px;
    width: 10%;
    align-self: center;
  }
}

.menu__order {
  text-align: center;
  margin-top: 20px;
  .intro__btngradient {
    background: linear-gradient(to right, $color-primary, $color-secondary);
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
}

// Mixin pour les styles spécifiques aux tablettes
@mixin tablet__responsive {
    .menu {
      max-width: 600px;
      margin: 20px auto;
    }
  }
  
  // Mixin pour les styles spécifiques aux desktops
  @mixin desktop__responsive {
    .menu {
      max-width: 800px;
    }
  }
  

  